.add-option-error {
        color: $off-white;
        font-style: italic;
        padding: 0 $std-size;
        margin: $std-size 0 0 0;
}

.add-option {
    display: flex;
    padding: $std-size;
}

.add-option__input {    
    flex-grow: 1;
    background: $dark-blue;
    border: none;
    margin-right: $std-size * 0.5;
    border-bottom: .3rem solid darken($dark-blue, 10%);
    color: $off-white;
    padding: $std-size * 0.5;
}